@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
* {
    margin: 0;
    border: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    font-family: "Montserrat";
}
main.container{
    background: white;
    max-width: 350px;
    min-height: 40vh;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

main h1,h2{
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 1rem;
    position: relative;

}
.titulo{
    transform: scaleX(1);
    transition: .3s all ease-in-out;
}
.titulo::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 1px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}
main h1,h2::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

form{
    display: flex;
    flex-direction: column;
}

.input-field{
    position: relative;
}
label{
    padding: 6px;
}
form .input-field:first-child{
    margin-bottom: 1.5rem;
}
.input-field .underline::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}
.input-field .underline::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);;
    transform: scaleX(0);
    transition: all .3 ease-in-out;
    transform-origin: left;
}
.input-field input:focus ~ .underline::after{
    transform: scaleX(1);
}
.input-field input{
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);;
}
.input-field input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}
form input[type="submit"]{
    margin-top: 4rem;
    padding: 0.5rem;
    background: linear-gradient(to left, #4776e6, #8e54e9);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}
form input[type="submit"]:hover{
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4776e6, #8e54e9);
}